*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
header{
    width:100vw;
    height:80vh;
    background-image:url('./img/star\ uó\ topo.png');
    background-repeat:no-repeat;
    background-size:cover;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
}
.container-header{
    width:72vw;
    height:13vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:absolute;
    top:48vh;
    left:19vw;
}
.star-header{
    width:25vw;
    height:12vh;
}
.wars-header{
    width:25vw;
    height:12vh;
}
.kyloren-container{
    position:absolute; 
    top:4vh;
    left:10vw;
}
.kylo-header{
    width:70vw;
    height:100vh;
}
.menu-header{
    width:8vw;
    height:15vh;
    position:absolute;
    top:65vh;
    left:70vw;
}