@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;
}
header{
    width:100%;
    height:80vh;
    background-image:url('./img/star\ uó\ topo.png');
    background-repeat:no-repeat;
    background-size:cover;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
}
.container-header{
    width:72vw;
    height:13vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:absolute;
    top:48vh;
    left:19vw;
}
.star-header{
    width:25vw;
    height:12vh;
}
.kyloren-container{
    position:absolute; 
    top:8vh;
    left:13vw;
    z-index:1;
}
.kylo-header{
    width:65vw;
    height:90vh;
}
.menu-header{
    width:10vw;
    height:15vh;
    position:absolute;
    top:58vh;
    left:64vw;
}
.header-h2{
    font-weight:400;
    font-size:1.5rem;
    border-bottom:2px solid;
    padding-bottom:1.5vh;
}
.p-header{
    font-size:1.2rem;
}
.menu-header span{
    font-size: 1.4rem;
}
.btn-header1{
    width:1vw;
    position:absolute;
    background-color:#75838D;
    border:none;
    border-radius:0;
    top:11.5vh;
    left:5vw;
    cursor:pointer;  
}
.btn-header2{
    width:1vw;
    position:absolute;
    background-color:#75838D;
    border:none;
    border-radius:0;
    top:11.5vh;
    left:7vw;
    cursor:pointer;
}
.section-central{
    width:100%;
    height:140vh;
    display:flex;
    position:relative;
}
.robot-div{
    width:45vw;
    height:150vh;
}
.robot{
    width:45vw;
    height:150vh;
}
.start-div{
    width:20vw;
    height:55vh;
    background-image: url(img/strom\ trupe\ red.png);
    background-size: cover;
    z-index:2;
    position:absolute;
    left:16vw;
    bottom:88vh;
}
.start-h2{
    font-weight:400;
    width:50%;
    font-size:2.2rem;
    color:white;
    position: absolute;
    top:9.5vh;
    left:5.5vw;
}
.start-p{
    font-weight:300;
    width:77.3%;
    position: absolute;
    top:28vh;
    left:2vw;
    color: white;
    font-size:0.9rem;
}
.btn-download{
    overflow: hidden;
    width:10vw;
    height:5vh;
    background-color:transparent;
    color:white;
    font-weight: bold;
    border: 1px solid white;
    border-radius:56px;
    cursor:pointer;
    position: relative;
    top:42vh;
    left:5vw;
}
.btn-download::before{
    content:'';
    position:absolute;
    background:#FF6347;
    width:0%;
    height:100%;
    top:0;
    left:0;
    z-index:-1;
    transition: all .5s ease;
}
.btn-download:hover::before{
    width:100%;
}
.about-div{
    width:50vw;
    height:25vh;
    display:flex;
    align-items:flex-end;
    position:absolute;
    top:26.5vh;
    left:48vw;
}
.about{
    width:45vw;
    height:25vh;
}
.h2-div{
    width:15vw;
    height:6vh;
    position:absolute;
    right:25vw;
    top:0;
}
.hr-about{
    width:9vw;
    height:0.5vh;
    background-color: black;
    margin-left:6vw;
}
.about-h2{
    padding-bottom:1vh;
    text-align: right;
}
.p-about{
    padding-right:1.5vw;
    width:100%;
    text-align: right;
}
.hr-main{
    width:79vw;
    border:solid gray;
    position:absolute;
    top:66vh;
    left:15vw;
}
.darthmaul-div{
    width:40vw;
    height:80vh;
    position:absolute;
    top:73vh;
    left:15vw;
    z-index:1;
}
.darth-maul{
    width:44vw;
    height:84vh;
}
.rey-div{
    width:25vw;
    height:80vh;
    position:absolute;
    top:78vh;
    left:72vw;
    z-index:1;
}
.rey{
    width:20vw;
    height:80vh;
}
.list{
    height:52vh;
    width:27vw;
    position:absolute;
    top:80vh;
    left:45vw;
}
.estrutura{
    font-weight:400;
    padding-left:7vw;
    font-size:3rem;
    text-align: right;
}
.jogo{
    font-weight:900;
}
li{
    font-size:1.5rem;
    list-style:none;
    text-transform: uppercase;
    text-align:right;
    padding-top:1vh;
    padding-bottom:1vh;
}
li:hover{
    background-color:#d74430;
    color:white;
    cursor:pointer;
}
.attribute{
    width:100%;
    height:220vh;
    background-color:#2D2D2D;
    position:absolute;
    top:230vh;
    display:flex;
    flex-direction:column;
}
.attribute-h2{
    font-weight:900;
    font-size:2.5rem;
    color: white;
    margin:18vh 0 0 14.5vw;
}
.graphics{
    width:80vw;
    height:50vh;
    margin:5vh 9vw 0 9vw;
    display:flex;
}
.jedi-div{
    width:41.5vw;
    height:53.5vh;
    position: absolute;
    top:28vh;
    left:8vw;
    background-color:#A43D2F;
    opacity:0%;
}
.jedi-div:hover{
    opacity:80%;
}
.border1{
    width:3vw;
    height:6vh;
    margin:2vh 0 0 1vw;
    border-top:3px solid white;
    border-left:3px solid white;
}
.border2{
    width:3vw;
    height:6vh;
    margin:11vh 0 2vh 37.5vw;
    border-bottom:3px solid white;
    border-right:3px solid white;
}
.jedi-h2{
    font-size:2rem;
    color:white;
    margin:0 0 0 5vw;
}
.jedi-p{
    font-size:1.2rem;
    color:white;
    font-weight:300;
    width:70%;
    margin:5vh 0 0 5vw;
}
.btn-jedi{
    width:6vw;
    height:4vh;
    background-color: transparent;
    border: 1px solid white;
    color:white;
    margin:5vh 0 0 4.5vw;
    cursor: pointer;
}
.jedi{
    width:50%;
}
.storm-div{
    width:50vw;
    height:50vh;
    display:flex;
    flex-wrap: wrap;
}
.storm-effect{
    width:20.5vw;
    height:26.5vh;
    background-color: #A43D2F; 
    position: absolute;
    top:29.5vh;
    right:29.5vw;
    opacity:0%;
}
.storm-effect:hover{
    opacity:80%;
}
.border-storm1{
    width:2vw;
    height:4vh;
    border-top:3px solid white;
    border-left:3px solid white;
    margin:1vh 0 0 0.5vw;
    position: absolute;
}
.border-storm2{
    width:2vw;
    height:4vh;
    border-bottom:3px solid white;
    border-right:3px solid white;
    margin:0vh 0 2vh 18vw;
}
.storm-h2{
    font-size:1.5rem;
    color: white;
    margin:3vh 0 0 1.5vw;
}
.storm-p{
    font-size:1rem;
    color: white;
    font-weight:300;
    margin:1vh 0 0 1.5vw;
}
.btn-storm{
    width:6vw;
    height:4vh;
    background-color: transparent;
    border: 1px solid white;
    color:white;
    margin:3vh 0 0 1.5vw;
    cursor: pointer;
}
.storm-effect2{
    width:20.5vw;
    height:26.5vh;
    background-color: #A43D2F; 
    position: absolute;
    top:54.5vh;
    left:48.7vw;
    opacity:0%;
}
.storm-effect2:hover{
    opacity:80%;
}
.storm-effect3{
    width:20.5vw;
    height:26.5vh;
    background-color: #A43D2F; 
    position: absolute;
    right:9.5vw;
    top:29.5vh;
    opacity:0%;
}
.storm-effect3:hover{
    opacity:80%;
}
.storm-effect4{
    width:20.5vw;
    height:26.5vh;
    background-color: #A43D2F; 
    position: absolute;
    right:9.5vw;
    top:54.5vh;
    opacity:0%;
}
.storm-effect4:hover{
    opacity:80%;
}
.storm{
    width:50%;
    height:50%;
}
.hierarquia-div{
    width:81vw;
    height:95vh;
    margin:5vh 9vw 0 9vw;
}
.hierarquia{
    width:80vw;
    height:94vh;
}
.comojogar{
    width:100%;
    height:50vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.comojogar-h2{
    font-weight:900;
    font-size:2.5rem;
    color: white;
}
.download{
    width:100%;
    height:40vh;
    position:absolute;
    top:450vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.general-div{
    width:25vw;
    height:70vh; 
    position:absolute; 
    left:15vw;
    bottom:7vh;
}
.general{
    width:25vw;
    height:70vh;   
}
.buttons{
    width:55vw;
    height:25vh;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    position:absolute;
    left:40vw;
}
.btn-div{
    width:15vw;
    height:20vh;
}
.one-h2{
    font-size:1.5rem;
    font-weight:900;
    text-align:center;
    padding-bottom:2vh;
}
.btn-explore{
    width:10vw;
    height:5vh;
    background-color:black;
    border:none;
    color:white;
    font-size:1.2rem;
    font-weight:300;
    margin:0 0 0 2.5vw;
    cursor: pointer;
}
.btn-explore:hover{
    transition:box-shadow 3s;
    box-shadow:inset 20vw 0 #D74430;
}
.p1{
    font-weight:300;
    text-align:center;
    font-size:0.8rem;
    width:70%;
    padding-top:1.5vh;
    margin:1vh 0 0 2vw;
}
.hr-one{
    width:4vw;
    border:solid #D74430;
    border-radius:2px;
    margin:1.5vh 0 0 5.5vw;
}
.two-h2{
    font-size:1.5rem;
    font-weight:300;
    text-align:center;
    padding-bottom:2vh;
}
.p2{
    font-weight:300;
    text-align:center;
    font-size:0.8rem;
    width:40%;
    padding-top:1.5vh;
    margin:1vh 0 0 4.5vw;
}
.hr-two{
    width:4vw;
    border:solid black;
    border-radius:2px;
    margin:1.5vh 0 0 5.5vw;
}
.apps{
    width:65%;
    height:90vh;
    background-color:#FF5A56;
    position:absolute;
    top:500vh;
}
.apps-div{
    width:40vw;
    height:70vh;
    margin:10vh 0 2vh 10vw;
}
.h2-foot{
    font-size:2.5rem;
    font-weight:900;
    color:white;
    padding-bottom:3vh;
}
.p-foot{
    font-weight:300;
    color:white;
    width:75%;
}
.store{
    width:40vw;
    padding:3vh 0 4vh 0;
}
.img-store{
    width:14vw;
    height:8vh;
}
.hr-foot{
    width:28.5vw;
    border:solid #D74430;
}
.sw-logo{
    width:15vw;
    margin:3vh 0 3vh 0;
}
.anakin{
    width:40vw;
    height:90vh;
    position:absolute;
    bottom:11.5vh;
    left:53.5vw;
}
.darth-vader{
    width:40vw;
    height:90vh;
}
@media(max-width:376px){
    header{
        width:94%;
        height:20vh;
        position:relative;
    }
    .container-header{
        width:75vw;
        position:absolute;
        top:9vh;
        left:12vw;
    }
    .star-header{
        width:28vw;
        height:4vh;
    }
    .kyloren-container{
        position:absolute;
        top:1vh;
        left:8vw;
        height:26vh;
    }
    .kylo-header{
        width:65vw;
        height:50vw;
    }
    .menu-header{
        width:20.5vw;
        height:10vh;
        position:absolute;
        top:18vh;
        left:62vw;  
    }
    .header-h2{
        font-size:0.7rem;
        border-bottom: 3px solid black;
    }
    .p-header{
        font-size:0.6rem;
        padding-top:1vh;
    }
    .menu-header span{
        font-size:0.7rem;
    }
    .btn-header1{
        width:4vw;
        background-color:#A9BDC1;
        font-weight:900;
        position:absolute;
        top:12vw;
        left:10vw;
    }
    .btn-header2{
        width:4vw;
        background-color:#A9BDC1;
        font-weight:900;
        top:12vw;
        left:15vw;
    }
    .section-central{
        width:94vw;
    }
    .robot-div{
        width:94vw;
        height:80.7vh;
    }
    .robot{
        width:80vw;
        height:80vh;
    }
    .start-div{
        width:53vw;
        height:47vh;
        z-index:2;
        position:absolute;
        left:35vw;
        bottom:79vh;
    }
    .start-h2{
        font-size:1.7rem;
        width:60%;
        font-weight:500;
        position: absolute;
        top:5vh;
        left:12vw;
    }
    .start-p{
        font-size:0.8rem;
        width:90%;
        position: absolute;
        top:20vh;
        left:5vw;   
    }
    .btn-download{
        width:26vw;
        height:5vh;
        position: relative;
        top:35vh;
        left:14vw;
    }
    .about-div{
        width:54vw;
        height:18vh;
        position:absolute;
        top:64vh;
        left:34.5vw;
    }
    .about{
        width:53vw;
        height:18vh;
    }
    .h2-div{
        position: absolute;
        top:90vh;
    }
    .p-div{
        position: absolute;
        top:90vh;
    }
}